@{
    Layout = null;
}
<!doctype html>
<html lang="en">

<partial name="/Views/Layoutpartial/_HeaderPartial.cshtml" />
<body>

    <partial name="/Views/Layoutpartial/_NavbarPartial.cshtml" />

    @RenderBody()

    <partial name="/Views/Layoutpartial/_FooterPartial.cshtml" />

    <partial name="/Views/Layoutpartial/_ScriptsPartial.cshtml" />

</body>
</html>






